/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60vw;
    margin: auto;
    flex-wrap: wrap;
    gap: 1em;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 250px;
    height: 300px;
    box-shadow: 3px 3px 12px grey;
    margin: 1em;
    border-radius: 15px;

}

.img-div {
    background-image: url(./11.png);
    height: 35%;
    width: 100%;
    background-position: fill;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;

} */