* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #F6F6F6;

    font-family: Heebo, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.text-container {
    text-align: center;
    margin-bottom: 50px;
}

.text-container h1 {
    margin-top: 2em;
    font: normal normal 900 36px/53px Heebo;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}

.text-container p {
    font: normal normal normal 20px/29px Heebo;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}

.card-container {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* Adjusted to space around to evenly distribute items */
    align-items: center;
    margin: 0;
    gap: 0.8em;
}

.card-container img {
    /* Set height to auto to maintain aspect ratio */
    width: 20%;
    /* Ensure images don't exceed their container's width */
    height: 45%;
    /* Set maximum height to prevent images from exceeding a certain height */
    border-radius: 1em;
    margin-bottom: 0.8em;
    /* Add margin-bottom for spacing */
    flex: 1 0 calc(33.33% - 0.8em);
    /* Shorthand for flex-grow, flex-shrink, and flex-basis */
}

@media (max-width: 480px) {
    .card-container {
        width: 80%;
    }

    .card-container img {
        width: 80%;
        height: auto;
        max-height: 40%;
        margin-bottom: 0.8em;

    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .text-container p {
        width: auto;
        max-width: 80%;
        font: normal normal normal 15px/21px Heebo;
    }
}